<!-- index.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Add Book | Lookup Book</title>
</head>
<body>
    <form action="/addBook" method="post">
        <h2>Add Book</h2>
        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author"><br>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <input type="submit" value="Add Book">
    </form>

    <form action="/getBook" method="get">
        <h2>Lookup Book</h2>
        <label for="id">Book ID:</label><br>
        <input type="text" id="id" name="id"><br>
        <input type="submit" value="Lookup Book">
    </form>
</body>
</html>
